<div class="home-container">
  <!-- header -->
  <header>
    <a href="//gmail.com">Gmail</a>
    <a href="//google.com/images">Images</a>
    <mat-icon>apps</mat-icon>
    <button>Sign in</button>
  </header>
  <!-- main -->
  <main>
    <img src="assets/logo.png" alt="logo">
    <div class="search-box">
      <form #form="ngForm" (ngSubmit)="search(form)">
        <app-search rightIcon="false" ></app-search>
      </form>
    </div>
    <div class="g-buttons">
      <button type="button" (click)="search(form)">Search</button>
      <button>I'm feeling lucky</button>
    </div>
  </main>
</div>
